{#
/**
 * @file event.html.twig
 * Default theme implementation for the dashboard.
 *
 * Available variables:
 *   - no_channel: Markup to display if there are no channels.
 *   - channel_event_per_day_count_chart: A line chart that displays the event count per channel, per day.
 *   - channel_event_count_chart: A bar chart that displays the event count per channel.
 *   - event_severity_count_chart: A polar chart that displays the event count per severity.
 *   - channel_count: The count of channels.
 *   - event_count: The count of events.
 *   - enabled_alerts_count: The count of enabled alerts.
 *   - event_today_count: The count of events created today.
 *
 * @ingroup themeable
 */
#}
{% if no_channels %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          {{ no_channels }}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="icon fa fa-filter fa-3x" style="color:#f5b63e;"></i>
            </div>
            <div class="float-right">
              <p class="card-text mb-0 text-right">{{ 'Channels'|t }}</p>
              <div class="fluid-container">
                <h3 class="card-title font-weight-bold text-right mb-0">{{ channel_count }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="icon fa fa-database fa-3x" style="color:#ce4e4e;"></i>
            </div>
            <div class="float-right">
              <p class="card-text mb-0 text-right">{{ 'Events'|t }}</p>
              <div class="fluid-container">
                <h3 class="card-title font-weight-bold text-right mb-0">{{ event_count }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="icon fa fa-bullhorn fa-3x" style="color:#39b344;"></i>
            </div>
            <div class="float-right">
              <p class="card-text mb-0 text-right">{{ 'Enabled alerts'|t }}</p>
              <div class="fluid-container">
                <h3 class="card-title font-weight-bold text-right mb-0">{{ enabled_alerts_count }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="icon fa fa-calendar fa-3x" style="color:#00a5da;"></i>
            </div>
            <div class="float-right">
              <p class="card-text mb-0 text-right">{{ 'Today\'s events'|t }}</p>
              <div class="fluid-container">
                <h3 class="card-title font-weight-bold text-right mb-0">{{ event_today_count }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h4 class="card-header">{{ 'Events created over the last week'|t }}</h4>
        <div class="card-body" style="height:400px;">
          {{ channel_event_per_day_count_chart }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <h4 class="card-header">{{ 'Total events per channel'|t }}</h4>
        <div class="card-body" style="height:400px;">
          {{ channel_event_count_chart }}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <h4 class="card-header">{{ 'Event severity'|t }}</h4>
        <div class="card-body" style="height:400px;">
          {{ event_severity_count_chart }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-muted">
      {{ 'Data is updated approximately every 15 minutes'|t }}
    </div>
  </div>
{% endif %}
